nav{
    background-color: lightslategrey;
}



.bg {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: whitesmoke;
    background-size: 100% 100%;
    background-position: top center
}

.content {
    margin-top: 20%
}

.centered {
    padding: 50px;
    background-color:lightslategrey ;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;

}

.InputStyle {
    margin-top: 15px;
    border-radius: 25px;
    border: solid 1px white;
    background: rgba(255, 255, 255, 0.151);
    width: 30px;
    padding: 10px 20px;
}

#subm {
    left: 30%;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.568)
}

/* input,
input:focus {
    border: solid 1px white;
    outline: 0;
    -webkit-appearance: none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
} */
img{
    width: 80px;
}

.update {
    width: 20px;

}